<h1><%= @post.title %></h1>

<div class="row">
  <div class="col-md-8">
    <p><%= @post.body %></p>
    <hr/>
    <h4><%= @post.title %> Summary</h4>
    <p><i><%= @post.summary.description %></i></p>
  </div>
  <div class="col-md-4">
    <% if policy(@post).edit? %>
      <%= link_to "Edit Post", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %>
      <%= link_to "New Summary", new_topic_post_summary_path(@topic, @post, @summary), class: 'btn btn-success' %>
    <% end %>
  </div>
</div>