<div class="row">
  <div class="col-md-8">
    <%= render partial: 'votes/voter', locals: { post: @post } %>
    <h1><%= @post.markdown_title %></h1>
    <small>
       <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
       submitted <%= time_ago_in_words(@post.created_at) %> ago by
       <%= @post.user.name %>
     </small></br>
    </br><%= image_tag(@post.image.xlarge.url) if @post.image? %>
    <p><%= @post.markdown_body %></p>
    <hr/>
    <h4>Summary of<%= @post.markdown_title %></h4>
    <% if @summary %>
      <p><i><%= @post.summary.description %></i></p>
    <% end %>
    <% if policy(@post).edit? && !@summary %>
      <p><i><%= link_to "Add a Summary to your Post", new_post_summary_path(@post, @summary) %></i></p>
    <% end %>
  </div>

  <div class="col-md-4">
    <div class="post-buttons">
      <% if policy(@post).edit? %>
        <%= link_to "Edit Post", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %>
      <% if @post.summary %>
        <%= link_to "Edit Summary", edit_post_summary_path(@post, @summary) , class: 'btn btn-success' %>
      <% else %>
        <%= link_to "New Summary", new_post_summary_path(@post, @summary), class: 'btn btn-success' %>
      <% end %>
      <% end %>
      <% if policy(@post).destroy? %>
        <%= link_to "Delete Post", [@topic, @post], method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this post?' } %>
      <% end %>
    </div>
  <div>
      <h3><%= pluralize(@post.points, 'point') %></h3>
      <small>
        <%= pluralize(@post.up_votes, 'up vote') %>,
        <%= pluralize(@post.down_votes, 'down vote') %>
      </small>
  </div>
    <%= render partial: 'favorites/favorite', locals: { post: @post } %>
  </div>
</div>

<% if policy(@comment).new? %>
<div class="row">
  <h2>Comments</h2>
  <div class='col-md-12'>
    <%= render @comments %>
    <%= render 'comments/form', topic: @topic, comment: @comment, post: @post %>
  </div>
</div>
<% end %>