<h1><%= markdown_to_html @post.title %></h1>

<div class="row">
  <div class="col-md-8">
    <p><%= markdown_to_html @post.body %></p>
    <hr/>
    <h4><%= @post.title %> Summary</h4>
    <% if @post.summary %>
    <p><i><%= @post.summary.description %></i></p>
    <% else %>
    <p><i><%= link_to "Add a Summary to your Post", new_topic_post_summary_path(@topic, @post, @summary) %></i></p>
    <% end %>
  </div>
  <div class="col-md-4">
    <% if policy(@post).edit? %>
      <%= link_to "Edit Post", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %>
        <% if @post.summary %>
          <%= link_to "Edit Summary", new_topic_post_summary_path(@topic, @post, @summary) , class: 'btn btn-success' %>
        <% else %>
          <%= link_to "New Summary", new_topic_post_summary_path(@topic, @post, @summary), class: 'btn btn-success' %>
        <% end %>
    <% end %>
  </div>
</div>